@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Colors = https://colorhunt.co/palette/fff3e2ffe5cafa9884e74646 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}